body {
}

/* WRAPER */

.wraper {
    background-color: #eee;
    height: 100vh;
    display: flex;
}

.wraper::before {
    content: '';
    background-image: url(img/snake-3.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
    background-size: 65vh;
    position: absolute;
    z-index: 0;
}


/* MAIN MENU */

.logo {
    text-decoration: none;
    margin-top: 20px;
    margin-left: -20px;
    display: block;
}

.menu {
    text-decoration: none;
    list-style: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 100px;
    position: fixed;
    width: 400px;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1;
}

.menu-list {
    margin-top: 100px;

}

.menu-item {
    color: #3C3C3B;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
.menu li {
    list-style: none;
    margin-bottom: 30px;
}

/* CONTENT */

.home-page-content-wraper {
    height: 100vh;
    width: 100%;
    position: relative;
}

.home-page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.main-img {
    height: 75vh;
}

.slogan {
    align-self: flex-end;
    margin-left: -100px;
    padding-bottom: 20px;
    width: fit-content;
    white-space: nowrap;
    line-height: 24px;
}

.phone-number {
    color: #3c3c3b30;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 100px;
}

/* SLOGAN AND IMAGE */



.bg-img {
    width: 460px;
    height: 655px;
}

.slogan {
    color: #3C3C3B;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .home-page-content {
        flex-direction: column;
    }
    .main-img {
        height: 70vh;
        width: auto;
    }
    .wraper::before {
        background-size: 60vh;
    }
    .menu-mobile {
    }
    .menu {
        display: none;
    }

    .hamburger-menu-icon {
        display: block;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .menu {
        width: 300px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}